<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bentornato</title>
</head>
<body>
<div layout:fragment="content" class="container" >
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Bentornato</h1>
            <p class="lead">Questa è la tua pagina Personale</p>


            <p sec:authorize="isAuthenticated()">Username: <span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></span></p>
            <div class="memberInformation">
                <header> Member Information</header>
                <p sec:authorize="isAuthenticated()">First Name : <span sec:authorize="isAuthenticated()" th:text="${members.firstName}"></span></p>
                <p sec:authorize="isAuthenticated()">Last Name : <span sec:authorize="isAuthenticated()" th:text="${members.lastName}"></span></p>
                <p sec:authorize="isAuthenticated()">e - mail : <span sec:authorize="isAuthenticated()" th:text="${members.email}"></span></p>
               <input type="button" onclick="window.location.href='/fornitori'" value="mostraFornitori"/>

        <!--        <form autocomplete="off" th:action="@{|/fornitori/#{fornitori.piva}|}"
                      th:object="${fornitori}" method="get" class="form-horizontal"
                      role="form">
                    <input type="text" id="fPiva" name="piva"  th:placeholder="piva"
                           class="form-control" />
                    <button type="submit" class="add">cerca </button>
             </form> -->
              <!--  <form action="/fornitori/" method="get" id="fpiva">
                <label for="fpiva">PIVA:</label>
                <input type="text" id="PIVA" name="PIVA"><br><br>
                </form>
                <button type="submit" form="fpiva" value="Submit">Cerca</button> -->



          <form id="ricercaByPivaForm">
                    <div class="container">
                        <label form="piva"><b>CERCA FORNITORE TRAMITE PIVA</b></label>
                        <input type="text" placeholder="Enter piva" name="piva" required>
                        <button type="submit">Cerca</button>
                    </div>
                </form>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const ricercaByPivaForm = document.getElementById('ricercaByPivaForm');
                        ricercaByPivaForm.addEventListener('submit', ($event) => {
                            $event.preventDefault();
                            const pivaControlElement = [...ricercaByPivaForm.elements].find(i => i.name === 'piva');
                            console.info('-> cerco tutti i fornitori per p.iva = ' + pivaControlElement.value);
                            // qui la chiamata fetch.
                            /*

                            fetch('qualcosa').then((res) => {
                                // qui l'elaborazione del risultato.
                            }).catch((err) => {
                                // qui l'elaborazione dell'errore.
                            });
                            */

                            fetch("/fornitori/{piva}").then(response => response.json())
                                .then(data => console.log(data))
                        });
                    });
                </script>
            </div>


            <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" href="/register" role="button">Register &raquo;</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" href="/login" role="button">Login &raquo;</a>
            <a sec:authorize="isAuthenticated()" class="btn btn-lg btn-primary" href="/logout" role="button">Logout &raquo;</a>
        </div>
    </main>

</div>

</body>
</html>
