<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bentornato</title>
</head>
<body>
<div layout:fragment="content" class="container" >
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Bentornato</h1>
            <p class="lead">Questa è la tua pagina Personale</p>


            <p sec:authorize="isAuthenticated()">Username: <span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></span></p>
            <div class="memberInformation">
                <header> Member Information</header>
                <p sec:authorize="isAuthenticated()">First Name : <span sec:authorize="isAuthenticated()" th:text="${members.firstName}"></span></p>
                <p sec:authorize="isAuthenticated()">Last Name : <span sec:authorize="isAuthenticated()" th:text="${members.lastName}"></span></p>
                <p sec:authorize="isAuthenticated()">e - mail : <span sec:authorize="isAuthenticated()" th:text="${members.email}"></span></p>
         <!--      <input type="button" onclick="window.location.href='/fornitori'" value="mostraFornitori"/> -->

        <!--        <form autocomplete="off" th:action="@{|/fornitori/#{fornitori.piva}|}"
                      th:object="${fornitori}" method="get" class="form-horizontal"
                      role="form">
                    <input type="text" id="fPiva" name="piva"  th:placeholder="piva"
                           class="form-control" />
                    <button type="submit" class="add">cerca </button>
             </form> -->
              <!--  <form action="/fornitori/" method="get" id="fpiva">
                <label for="fpiva">PIVA:</label>
                <input type="text" id="PIVA" name="PIVA"><br><br>
                </form>
                <button type="submit" form="fpiva" value="Submit">Cerca</button> -->



     <!--     <form id="ricercaByPivaForm">
                    <div class="container">
                        <label form="piva"><b>CERCA FORNITORE TRAMITE PIVA</b></label>
                        <input type="text" placeholder="Enter piva" name="piva" required>
                        <button type="submit">Cerca</button>
                    </div>
                </form>

                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const ricercaByPivaForm = document.getElementById('ricercaByPivaForm');
                        ricercaByPivaForm.addEventListener('submit', ($event) => {
                            $event.preventDefault();
                            const pivaControlElement = [...ricercaByPivaForm.elements].find(i => i.name === 'piva');
                            console.info('-> cerco tutti i fornitori per p.iva = ' + pivaControlElement.value);
                            // qui la chiamata fetch.
                            /*

                            fetch('qualcosa').then((res) => {
                                // qui l'elaborazione del risultato.
                            }).catch((err) => {
                                // qui l'elaborazione dell'errore.
                            });
                            */

                            fetch("/fornitori/"+input.value).then(response => response.json())
                                .then(data => console.log(data))
                        });
                    });
                </script> -->
                <div>
                    <p> Mostra tutti i fornitori</p>
                    <button id="submit">Mostra Fornitori</button>
                    <script>
                        const mos = document.getElementById("submit");
                        mos.onclick = () => {
                            fetch(`fornitori/`)
                                .then (res => res.json())
                                .then ( data => console.log(data))
                        }
                    </script>
                </div>
                <br>

                <div>
                    <p>Ricercare un Fornitore tramite P.IVA</p>
                <input id="piva" type="text" placeholder="Enter piva"  required>
                <button id="submit-piva">Cerca</button>
                <script>
                    const input = document.getElementById("piva");
                    const btn = document.getElementById("submit-piva");
                    btn.onclick = () => {
                        let pIva = input.value;
                        fetch(`fornitori/${pIva}`)
                            .then (res => res.json())
                            .then ( data => console.log(data))
                    }
                </script>
                </div>
                <br>

                <div>
                    <p>Ricercare un Fornitore tramite nome</p>
                <input id="nome" type="text" placeholder="Enter nome"  required>
                <button id="submit-nome">Cerca</button>
                <script>
                    const input1 = document.getElementById("nome");
                    const btn1 = document.getElementById("submit-nome");
                    btn1.onclick = () => {
                        let nome = input1.value;
                        fetch(`fornitori/bynome/${nome}`)
                            .then (res => res.json())
                            .then ( data => console.log(data))
                    }
                </script>

            </div>
                <br>
            <div>
                <p>Ricercare un Fornitore tramite sede</p>
                <input id="sede" type="text" placeholder="Enter sede"  required>
                <button id="submit-sede">Cerca</button>
                <script>
                    const input2 = document.getElementById("sede");
                    const btn2 = document.getElementById("submit-sede");
                    btn2.onclick = () => {
                        let sede = input2.value;
                        fetch(`fornitori/bysede/${sede}`)
                            .then (res => res.json())
                            .then ( data => console.log(data))
                    }
                </script>
            </div>
                <br>
            <div>
                <p>Ricercare una Materia Prima tramite codice</p>
                <input id="codice" type="text" placeholder="Enter codice"  required>
                <button id="submit-codice">Cerca</button>
                <script>
                    const input4 = document.getElementById("codice");
                    const btn4 = document.getElementById("submit-codice");
                    btn4.onclick = () => {
                        let codice = input4.value;
                        fetch(`materiaPrima/${codice}`)
                            .then (res => res.json())
                            .then ( data => console.log(data))
                    }
                </script>
            </div>
                <br>
                <div>
                    <p>Elimina un Fornitore tramite PIVA</p>
                    <input id="dpiva" type="text" placeholder="Enter piva"  required>
                    <button id="submit-dpiva">Delete</button>

                    <script>
                        const input5 = document.getElementById("dpiva");
                        const btn5 = document.getElementById("submit-dpiva");
                        btn5.onclick = () => {

                            let PIVA = input5.value;
                                fetch(`fornitori/delete/${PIVA}`, {
                                    method: "DELETE",

                                })
                                    .then(function(res){ res.json(); })
                                    .then(function(data){ console.log(data) })
                            }
                    </script>
                </div>

                <br>

                <div>
                    <p>Aggiungere un nuovo Fornitore</p>
                    <input id="apiva" type="text" placeholder="Enter piva"  required>
                    <input id="anome" type="text" placeholder="Enter nome"  required>
                    <input id="asede" type="text" placeholder="Enter sede"  required>
                    <button id="submit-apiva">Aggiungi Fornitore</button>

                    <script>
                        const input6a = document.getElementById("apiva");
                        const input6b = document.getElementById("anome");
                        const input6c= document.getElementById("asede");
                        const btn6 = document.getElementById("submit-apiva");


                        btn6.onclick = () => {

                            const obj = {
                                piva: input6a.value,
                                nome: input6b.value,
                                sede: input6c.value
                            }
                            fetch(`/fornitori/add`, {
                                method: "POST",
                                headers: {  'Accept': 'application/json',
                                    'Content-Type': 'application/json' },
                                body:JSON.stringify(obj)
                            })
                                .then(function(res){ return res.json(); })
                                .then(function(data){ console.log(data) })
                        }
                    </script>
                </div>
                    <div>
                        <p>Aggiungere Ordine Materia Prima</p>
                        <input id="acodice" type="text" placeholder="Enter Codice"  required>
                        <input id="adescrizione" type="text" placeholder="Enter descrizione"  required>
                        <input id="aquanita" type="text" placeholder="Enter Quantità"  required>
                        <button id="submit-aOMP">Aggiungi Ordine Materia Prima</button>

                        <script>
                            const input7a = document.getElementById("acodice");
                            const input7b = document.getElementById("adescrizione");
                            const input7c= document.getElementById("aquantita");
                            const btn7 = document.getElementById("submit-aOMP");


                            btn7.onclick = () => {

                                const obj1 = {
                                    codice: input7a.value,
                                    descrizione: input7b.value,
                                    quantita: input7c.value
                                }
                                fetch(`/OrdineMateriaPrima/add`, {
                                    method: "POST",
                                    headers: {  'Accept': 'application/json',
                                        'Content-Type': 'application/json' },
                                    body:JSON.stringify(obj1)
                                })
                                    .then(function(res){ return res.json(); })
                                    .then(function(data){ console.log(data) })
                            }
                        </script>
                </div>

            </div>




            </div>


            <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" href="/register" role="button">Register &raquo;</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" href="/login" role="button">Login &raquo;</a>
            <a sec:authorize="isAuthenticated()" class="btn btn-lg btn-primary" href="/logout" role="button">Logout &raquo;</a>
        </div>
    </main>

</div>

</body>
</html>
