<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bentornato</title>
</head>
<body>
<div layout:fragment="content" class="container" >
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Bentornato Responsabile</h1>
            <p class="lead">Questa è la tua pagina Personale</p>


            <p sec:authorize="isAuthenticated()">Username: <span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></span></p>
            <div class="memberInformation">
                <header> Member Information</header>
                <p sec:authorize="isAuthenticated()">First Name : <span sec:authorize="isAuthenticated()" th:text="${members.firstName}"></span></p>
                <p sec:authorize="isAuthenticated()">Last Name : <span sec:authorize="isAuthenticated()" th:text="${members.lastName}"></span></p>
                <p sec:authorize="isAuthenticated()">e - mail : <span sec:authorize="isAuthenticated()" th:text="${members.email}"></span></p>

                <div>
                    <p>Ricercare una Materia Prima tramite codice</p>
                    <input id="codice" type="text" placeholder="Enter codice"  required>
                    <button id="submit-codice">Cerca</button>
                    <p id="risultato1"></p>
                    <script>
                        const input4 = document.getElementById("codice");
                        const btn4 = document.getElementById("submit-codice");
                        btn4.onclick = () => {
                            let codice = input4.value;
                            fetch(`materiaPrima/${codice}`)
                                .then (res => res.json())
                                .then ( data => document.getElementById('risultato1').innerHTML=JSON.stringify(data))
                        }
                    </script>
                </div>
                <br>
                <div>
                    <p> Mostra tutti gli Ordini Materia Prima</p>
                    <button id="submit">Mostra Ordini Materia Prima</button>
                    <p id="risultato9"></p>
                    <script>
                        const mos = document.getElementById("submit");
                        mos.onclick = () => {
                            fetch(`/OrdineMateriaPrima`)
                                .then (res => res.json())
                                .then ( data => document.getElementById('risultato9').innerHTML=JSON.stringify(data))
                        }
                    </script>
                </div>
                <br>

                <div>
                    <p>Aggiungere Ordine Materia Prima</p>
                    <input id="acodice" type="text" placeholder="Enter Codice"  required>
                    <input id="adescrizione" type="text" placeholder="Enter descrizione"  required>
                    <input id="aquantita" type="text" placeholder="Enter Quantità"  required>
                    <button id="submit-aOMP">Aggiungi Ordine Materia Prima</button>
                    <p id="risultato10"></p>
                    <script>
                        const input7a = document.getElementById("acodice");
                        const input7b = document.getElementById("adescrizione");
                        const input7c= document.getElementById("aquantita");
                        const btn7 = document.getElementById("submit-aOMP");


                        btn7.onclick = () => {

                            const obj1 = {
                                codice: input7a.value,
                                descrizione: input7b.value,
                                quantita: input7c.value
                            }
                            fetch(`/OrdineMateriaPrima/add`, {
                                method: "POST",
                                headers: {  'Accept': 'application/json',
                                    'Content-Type': 'application/json' },
                                body:JSON.stringify(obj1)
                            })
                                .then(function(res){ return res.json(); })
                                .then(function(data){document.getElementById('risultato10').innerHTML=JSON.stringify(data)})
                        }
                    </script>

            </div>




        </div>


        <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" href="/register" role="button">Register &raquo;</a>
        <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-primary" href="/login" role="button">Login &raquo;</a>
        <a sec:authorize="isAuthenticated()" class="btn btn-lg btn-primary" href="/logout" role="button">Logout &raquo;</a>
</div>
</main>

</div>

</body>
</html>